.register-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 35px;
  padding: 2rem 0;
}

.register-wrapper img {
  height: 400px;
  width: auto;
  border-radius: 8px;
}
