.menu_link {
  font-size: 1.25vw;
  height:auto;
  background-color: var(--color-primary-bg);
  border-radius: 8px;
  padding:5%;
}

.menu_link:hover {
  background-color: var(--color-second-bg);
  border-radius: 8px;
}

.menu_link-NavLink {
  display: flex;
  justify-items: left;
  align-items: flex-start;
  justify-content: space-between;
  align-items: center;
}

.menu_link-NavLink img {
  height: 2em;
  vertical-align: middle;
  transform: rotate(-90deg);
}