.presentation{
    background-image: url('../assets/IMG/bg-photo.jpg');
    background-size: cover;
    background-position: center center;
}

.presentation h1{
    color: #1e3a5f;
    text-align: center;
    padding-left: 10%;
    padding-bottom: 12%;
    padding-right: 10%;
    padding-top: 8%;
}

.section-actus{
    margin: 5%;
}

.section-actus h1,h2,h3,h4,h5,h6{
    color: #1e3a5f;
}