.menu_panel-visitor-display {
  font-size: 2.5vw;
  min-width:fit-content;
  height: auto;
  width: 20%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary-bg);
  border-radius: 0 0 8px 8px;
  padding: 1%;
  position: relative;
  gap: 8px;
  position:absolute;
  top:100%;
  list-style: none;
}

.menu_panel-visitor-hidden {
  font-size: 2.5vw;
  min-width:fit-content;
  height: auto;
  width: 20%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary-bg);
  border-radius: 0 0 8px 8px;
  padding: 1%;
  position: relative;
  gap: 8px;
  position:absolute;
  top:100%;
  list-style: none;
  visibility: hidden;
}
