.wrapper {
  padding: 20px;
}

/* ── Corps de la page ── */
body {
  font-family: "Nunito", sans-serif;
  background: #A9E1FF;
background: linear-gradient(180deg, rgba(169, 225, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
  min-height: 100vh;
  margin: 0;
}
