* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Background-color */
  --color-primary-bg: #FFFFFF;
  --color-primary-bg-opacity: rgba(255, 255, 255, 0.5);
  --color-second-bg: #A9E1FF;
  --color-third-bg: #011267;
  --color-third-bg-opacity: rgba(1, 18, 103, 0.8);
  --color-fourth-bg: #E3C892;
  --color-fifth-bg: #767676;
  --color-sixth-bg: #9CF3A3;
  --color-popup-bg: #235CCF;

  /* Text color */
  --color-primary-text: #011267;
  --color-primary-text-opacity: #010E52;
  --color-second-text: #FFFFFF;
  --color-third-text: #011267;
  --color-fourth-text: #21BE2E;
  --color-fifth-text: #FF0909;

}

a {
  font-weight: 500;
  color: var(--color-primary-text);
  text-decoration: none;
}
a:hover {
  color: var(--color-primary-text-opacity);
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* Typography */
/* Headings */
h1 {
  color: var(--color-primary-text);
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  color: var(--color-primary-text);
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  color: var(--color-primary-text);
  font-size: 1.25rem;
  font-weight: bold;
}

h4 {
  color: var(--color-primary-text);
  font-size: 1rem;
  font-weight: bold;
}

h5 {
  color: var(--color-primary-text);
  font-size: 0.875rem;
  font-weight: bold;
}

/* Body text */
.body {
  font-size: 1.188rem;
}

.text-bold {
  font-size: 1.188rem;
  font-weight: bold;
}

.text-bold-lg {
  font-size: 1.875rem;
  font-weight: bold;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
